{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ navigation.title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="index-container">
        <h1>Mitfahrerspiele - {{ navigation.title }}</h1>
        <div class="text-wrapper m-3">
            {% for content in contents %}
                <h2><a href="{{ path('content_show', { 'contentShortText': content.shortText } ) }}" title="{{ content.title }}">{{ content.title }}</a></h2>
                <p>{{ content.description|length > 200 ? content.description|slice(0, 200) ~ ' ... ' : content.description  }}<a href="{{ path('content_show', { 'contentShortText': content.shortText } ) }}"> weiter</a></p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
