<div class="navigation-container mb-5 p-lg-2">
    <div class="container">
        <div class="navbar-expand-lg">
            <nav class="navbar navbar-light d-lg-none d-flex flex-nowrap">
                <a class="navbar-brand" href=" {{ path('app_index') }}" aria-haspopup="true" aria-expanded="false">
                    <img width="12%" src="{{ asset('build/images/Mitfahrerspiele_Logo_150dpi.png') }}" alt="mitfahrerspiele.de">
                    <img width="50%" class="align-bottom" src="{{ asset('build/images/Mitfahrerspiele_Schriftzug_300dpi.png') }}" alt="mitfahrerspiele.de">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="nav navbar-nav">
                    {% if navigations is defined %}
                        {% for navigation in navigations %}
                            <li class="nav-item dropdown mr-3">
                                <a class="btn btn-primary" href=" {{ path('app_contents', {'navigationShortText': navigation.shortText}) }}" title="{{ navigation.title }}" aria-haspopup="false" aria-expanded="false">{{ navigation.title }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
